{% extends "modifyuser.html" %}

{% block formarea %}
	{{ form.hidden_tag() }}
	<p>
		{{ form.username.label }} : {{ form.username(class_='text-field') }}
		{% for error in form.username.errors %}
		<span style="color:red">[{{ error }}]</span>
		{% endfor %}
	</p>

	<p>
		{{ form.program.label }} : {{ form.program(class_='text-field') }}
		{% for error in form.program.errors %}
		<span style="color:red">[{{ error }}]</span>
		{% endfor %}
	</p>

	<p>
		{{ form.batch.label }} : {{ form.batch(class_='text-field') }}
		{% for error in form.batch.errors %}
		<span style="color:red">[{{ error }}]</span>
		{% endfor %}
	</p>

	<p>
		{{ form.email.label }} : {{ form.email(class_='text-field') }}
		{% for error in form.email.errors %}
		<span style="color:red">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.password_hash.label }} : {{ form.password_hash(class_='text-field') }}
		{% for error in form.password_hash.errors %}
		<span style="color:red">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.password_hash_confirm.label }} : {{ form.password_hash_confirm(class_='text-field') }}
		{% for error in form.password_hash_confirm.errors %}
		<span style="color:red">[{{ error }}]</span>
		{% endfor %}
	</p>

	<p>
		{{ form.addstudent(class_='button btn-down') }}
	</p>
{% endblock %}

