	<table border="1">
		<thead>
			<tr>
				<td></td>
				<td>8:30am - 10:00am</td>
				<td>10:15am - 11:45am</td>
				<td>12:00pm - 1:30pm</td>
				<td>2:00pm - 3:30pm</td>
			</tr>
		</thead>
		<tbody>
			<tr class="monday">
				<td>Monday</td>
				<td class="class-1"></td>
				<td class="class-2"></td>
				<td class="class-3"></td>
				<td class="class-4"></td>
			</tr>
			<tr class="tuesday">
				<td>Tuesday</td>
				<td class="class-1"></td>
				<td class="class-2"></td>
				<td class="class-3"></td>
				<td class="class-4"></td>
			</tr>
			<tr class="wednesday">
				<td>Wednesday</td>
				<td class="class-1"></td>
				<td class="class-2"></td>
				<td class="class-3"></td>
				<td class="class-4"></td>
			</tr>
			<tr class="thursday">
				<td>Thursday</td>
				<td class="class-1"></td>
				<td class="class-2"></td>
				<td class="class-3"></td>
				<td class="class-4"></td>
			</tr>
			<tr class="friday">
				<td>Friday</td>
				<td class="class-1"></td>
				<td class="class-2"></td>
				<td class="class-3"></td>
				<td class="class-4"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
			</tr>
		</tfoot>
	</table>
